<div class="row card" style="background-color: #fafafa;">
                

               
                <div class="col s12 m5 l5" style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;">
                    <b>Room Type Delegation</b>
                    <div class="hr-1px"></div>
                    
                    <p>Extra Bed</p>

                    <p>
                                <label>
                                    <input type="checkbox" name="xtrb" class="filled-in"/>
                                    <span style="font-size: 12px">Extra Bed THB <b>2,200.</b> -net/room/night </span>
                                </label>
                    </p>
                                 
                                
                    
                 </div>
                 <div class="col s12 m1 l1">

                 </div>
                <div class="col s12 m6 l6" style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;">
                    <b>Benefit</b>
                    <div class="hr-1px"></div>
                    <ul>
                        <li>-Inclusive of 10% service charge and 7% VAT.</li>
                        <li>-Daily Buffet Breakfast</li>
                       
                    </ul>               
                </div>
              
        </div>  
