 {{!-- Swiss Premier Room --}}
        <div class="row card" style="background-color: #fafafa;">
            
                <div class="col s12 m5 l5" style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;">
                    <b>Room Type Delegation</b>
                    <div class="hr-1px"></div>
                    <p><b>1. Swiss Premier Room</b></p>

                    
                    
                    <p>
                        
                        
                                <label>
                                    <input type="checkbox" name="spmrsingle" class="filled-in" {{ spmrsingleCheck.check }}/>
                                    <span style="font-size: 12px">Single Occupancy THB <b>4,826.</b> -net/room/night </span>
                                </label>
                                </p>
                        

                              
                                <p>
                                    <label>
                                    <input type="checkbox" name="spmrtwin" class="filled-in" {{ spmrtwinCheck.check }} />
                                    <span style="font-size: 12px;">Twin Occupancy THB <b>4,826.</b> -net/room/night </span>
                                    </label>
                    </p>

                   

                 </div>
        </div>

       
