<div class="row card" style="background-color: #fafafa;padding-bottom: 30px;">
    <div class="col s12 m12 l12"
        style="background-color: #fafafa; padding-top: 20px; padding-left: 20px;padding-right: 20px;">
        <b>Meeting Reservation</b>
        <div class="hr-1px"></div>
    </div>


    <div class="col s12 m5 l5"
        style="background-color: #fafafa; padding-top: 20px; padding-left: 20px;padding-right: 20px;">

        <p>23 July 2019
        </p>

        <p>
            <label>
                <input type="checkbox" name="meeting23" class="filled-in" />
                <span style="font-size: 12px">Full Day Meeting THB
                    <b>1,412.</b> -net /person/day </span>
            </label>
        </p>
    </div>
    <div class="col s12 m1 l1">

    </div>
    <div class="col s12 m6 l6"
        style="background-color: #fafafa; padding-top: 20px; padding-left: 20px;padding-right: 20px;">

        <p>24 July 2019
        </p>

        <p>
            <label>
                <input type="checkbox" name="meeting24" class="filled-in" />
                <span style="font-size: 12px">Full Day Meeting THB
                    <b>1,412.</b> -net /person/day </span>
            </label>
        </p>



    </div>
    <br>
    <div class="col s12 m12 l12">
        <div class="hr-1px" style="padding-bottom: 20px;"></div>
    </div>

    <div>
        <div class="col s12 m5 l5"
            style="background-color: #fafafa; padding-top: 0px; padding-left: 20px;padding-right: 20px;">
            <p>25 July 2019
            </p>
            <p>
                <label>
                    <input type="checkbox" name="meeting25" class="filled-in" />
                    <span style="font-size: 12px">Full Day Meeting THB
                        <b>1,412.</b> -net /person/day </span>
                </label>
            </p>

        </div>
        <div class="col s12 m1 l1">

        </div>
        <div class="col s12 m6 l6"
            style="background-color: #fafafa; padding-top: 0px; padding-left: 20px;padding-right: 20px;">

            <p>26 July 2019
            </p>

            <p>
                <label>
                    <input type="checkbox" name="meeting26" class="filled-in" />
                    <span style="font-size: 12px">Haft Day Meeting THB
                        <b>1,295.-</b> -net /person/day </span>
                </label>
            </p>

        </div>
    </div>
</div>