<div class="row card" style="background-color: #fafafa;">



            <div class="col s12 m12 l12" style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;">
                <b>MEET and GREET&quot; (For Arrival at Suvarnabhumi Airport)</b>
                <div class="hr-1px"></div>

                <p>
                    Please use the exit "B"; after retrieving your baggage from Luggage Belt 07 - 16
                </p>
                <p>
                    Please use the exit "C"; after retrieving your baggage from Luggage Belt 17 - 23
                </p>

                <p>
                    Our Hotel Staff will display the placard "Swissotel Le Concorde"; at Gate 5, not showing Guest name in accordance to Airport
                    regulation for Security reasons.
                </p>

                <p>

                    In the event that you are unable to locate our staff, please contact Thai Hotel Association (THA) Desk or you may call to
                    the Hotel at Tel. 02-6942222 Ext.1110 for Concierge Service.
                </p>


                <p>
                    All bookings are required to be guaranteed by a major credit card or a deposit for the first night is kindly required to
                    be paid to the hotel prior to the major arrival date.
                </p>

                <br>


            </div>


        </div>
