{{!-- CC Information  - --}}
       
                

               
                <div class="col s12 m12 l12" style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;">
                    <b>Payment Information</b>
                    <div class="hr-1px"></div>


                     <div class="row">
                            <div class="col s12 m6 l6 input-field">
                                <input type="text"  name="cccompany" required>
                                <label for="cccompany">Card Company</label>
                            </div>
                            
                            <div class="col s12 m6 l6 input-field">
                                <input type="text"  name="ccno">
                                <label for="ccno">Card No.</label>
                            </div>

                            
                    </div>

                     <div class="row">
                            <div class="col s12 m6 l6 input-field">
                                <input type="text"  name="ccexp" required>
                                <label for="ccexp">Expire Date</label>
                            </div>
                            
                            <div class="col s12 m6 l6 input-field">
                                <input type="text"  name="ccname">
                                <label for="ccname">Name of CardHolder</label>
                            </div>

                            
                    </div>


                    


     
