{{!-- Swiss Premier Room --}}
<div class="row card" style="background-color: #fafafa;">

    <div class="col s12 m5 l5"
        style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;">
        <b>Room Type Delegation</b>
        <div class="hr-1px"></div>
        <p>
            <b>1. Swiss Premier Room</b>
        </p>

        <p>
            <label>
                <input type="checkbox" name="spmrsingle" class="filled-in" />
                <span style="font-size: 12px">Single Occupancy THB
                    <b>3,413.</b> -net/room/night </span>
            </label>
        </p>

        <p>
            <label>
                <input type="checkbox" name="spmrtwin" class="filled-in" />
                <span style="font-size: 12px;">Twin Occupancy THB
                    <b>3,767.</b> -net/room/night </span>
            </label>
        </p>
    </div>
    <div class="col s12 m1 l1">

    </div>
    <div class="col s12 m6 l6"
        style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;padding-bottom: 30px">
        <b>Benefit</b>
        <div class="hr-1px"></div>
        <ul>
            <li>- Inclusive of 10% service charge and 7% VAT.</li>
            <li>- Daily Buffet Breakfast</li>
            <li>-
                <b>Complimentary Wi-Fi in guest rooms and meeting rooms during the duration of stay.
                </b>
            </li>
            <li>- Welcome drink upon arrival and Daily Newspaper</li>
            <li>- Complimentary usage of fitness center and swimming pool on 5th floor
            </li>
        </ul>
    </div>

    {{!-- <div class="col s12 m5 l5"
        style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;">
        <b>Room Type Delegation</b>
        <div class="hr-1px"></div>
        <p>
            <b>2. Swiss Advantage Room</b>
        </p>

        <p>
            <label>
                <input type="checkbox" name="sarssingle" class="filled-in" />
                <span style="font-size: 12px">Single Occupancy THB
                    <b>3,900.</b> -net/room/night </span>
            </label>
        </p>

        <p>
            <label>
                <input type="checkbox" name="sarstwin" class="filled-in" />
                <span style="font-size: 12px;">Twin Occupancy THB
                    <b>4,200.</b> -net/room/night </span>
            </label>
        </p>
    </div>
    <div class="col s12 m1 l1">

    </div>
    <div class="col s12 m6 l6"
        style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;padding-bottom: 30px">
        <b>Benefit</b>
        <div class="hr-1px"></div>
        <ul>
            <li>-Inclusive of 10% service charge and 7% VAT.</li>
            <li>-Daily Buffet Breakfast</li>
            <li>-
                <b>Complimentary Wi-Fi in guest rooms and meeting rooms during the duration of stay.</b>
            </li>
            <li>-Welcome drink upon arrival</li>
            <li>-Complimentary usage of fitness center and swimming pool on 5 th floor</li>
        </ul>
    </div>

    <div class="col s12 m5 l5"
        style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;">
        <b>Room Type Delegation</b>
        <div class="hr-1px"></div>
        <p>
            <b>3. One Bedroom Suite</b>
        </p>

        <p>
            <label>
                <input type="checkbox" name="obrssingle" class="filled-in" />
                <span style="font-size: 12px">Single Occupancy THB
                    <b>6,500.</b> -net/room/night </span>
            </label>
        </p>

        <p>
            <label>
                <input type="checkbox" name="obrstwin" class="filled-in" />
                <span style="font-size: 12px;">Twin Occupancy THB
                    <b>7,000.</b> -net/room/night </span>
            </label>
        </p>
    </div>
    <div class="col s12 m1 l1">

    </div>
    <div class="col s12 m6 l6"
        style="background-color: #fafafa; padding-top: 30px; padding-left: 20px;padding-right: 20px;padding-bottom: 30px">
        <b>Benefit</b>
        <div class="hr-1px"></div>
        <ul>
            <li>-Inclusive of 10% service charge and 7% VAT.</li>
            <li>-Daily Buffet Breakfast</li>
            <li>-
                <b>Complimentary Wi-Fi in guest rooms and meeting rooms during the duration of stay.</b>
            </li>
            <li>-Welcome drink upon arrival</li>
            <li>-Complimentary usage of fitness center and swimming pool on 5 th floor</li>
        </ul>
    </div> --}}


</div>