<div class="container">
    {{#each booking }}
    <div class="row">
        <a href="/admin/bookings" class="btn-flat left">Back</a>

        <a href="/admin/booking/edit/{{ _id }}" class="btn-flat right">Edit</a>
    </div>

    <div class="row">
        <a href="/admin/reservation/pdf/{{ _id }}" target="_blank" class="btn-flat right">Download as PDF</a>
    </div>
    {{/each}}

</div>