<div class="container">
    {{#each booking }}
    <div class="row">
        <a href="/admin/bookings" class="btn-flat left" >Back</a>
      
       

        <a href="/admin/booking/edit/{{ _id }}" class="btn-flat right" >Edit</a>
    </div>
    {{/each}}
    <div class="row">
         <a href="javascript:genPDF()" class="btn-flat right">Download as PDF</a>
    </div>
    
</div>