<footer class="page-footer grey lighten-4">
  {{!-- <div>
    {{> _maps-contact}}
  </div> --}}
  {{!-- <div class="container center">
              <p><h5 style="color: #455a64">Follow Us</h5></p>

              <p class="blue-grey-text"><i class="fab fa-facebook-square fa-4x"></i> <i class="fab fa-instagram fa-4x"></i></p>
              
          </div> --}}
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 ">
        <h5 style="color: #ffffff"></h5>
        <ul class="highlight">
          <li><a style="color: grey" href="/">Swissotel Bangkok Ratchada: 204 Ratchadapisek Road, Huay Kwang, Bangkok
              10320, Thailand</a>
          </li>
          {{!-- <li class="divider"></li> --}}
          <li><a style="color: grey"
              href="mailto:SLC.Reservations@Swissotel.com?Subject=Enquiry SLC.Reservations@Swissotel.com">Email:
              SLC.Reservations@Swissotel.com</a></li>

        </ul>
        {{!-- <br>
                  <img src="/images/paypal-transpaent_logo.png" class="responsive-img" style="width: 180px" alt="Samui Ocean Tour Secure Payment With Paypal"> --}}
      </div>

    </div>
  </div>
  <div class="footer-copyright ">
    <div class="container">
      © 2018 Copyright swissotelratchada.com
      {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
      <div class="right hide-on-small-only">
        <ul>
          <li>
            <a href="http://www.f2.co.th" style="color: white" ; target="_blank;">2018 | Fullstack Development by: F2
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  </div>

</footer>