<div class="row card" style="background-color: #fafafa;padding-bottom: 0px;">


    <div>
        <img class="responsive-img" src="images/swissotel-web-maps.png">
    </div>


</div>
<div class="right">
    <a href="https://www.google.com/maps/place/Hotel+Swiss%C3%B4tel+Bangkok+Ratchada/@13.7721068,100.5728713,14.96z/data=!4m8!3m7!1s0x0:0x5269a7c68ceb0a0d!5m2!4m1!1i2!8m2!3d13.7766233!4d100.5741524"
        target="_blank"><b>Click here for Google Maps</b></a>
</div>
</div>