<nav class="gray darken-3 center">

    <div class="container-fluid">

        <div class="nav-wrapper">


            <div class="top-menu">
                <div class="top-side-nav">
                    <ul>
                        <li>
                            <a href="/" data-activates="main-menu" class="button-collapse show-on-large">
                                <div class="menu-icon active"><i class="material-icons Large menu-icon">menu</i></div>
                            </a>
                            <li>
                    </ul>
                </div>

                <div class="top-logo center">
                    <!-- Right Navbar and Show on MED-UP  -->
                    {{!-- <ul id="nav-main-left" class="hide-on-small-only"> --}}
                    <ul id="nav-main-center" >  


                        <li class="font-120">
                            
                              {{!-- <div class="logo"> old one --}}
                                <div>
                                   <img class="inline-block responsive-img" src="/images/swissotel-03.png" alt="swissotel-bangkok-ratchada.png">
                                </div>

                           
                        </li>

                    </ul>

                </div>
{{!-- 
                <div class="top-main-menu">
                    <div class="main-menu">

                        <ul id="nav-main" class="hide-on-med-and-down">

                            <li>
                                <a href="/">Home</a>
                            </li>

                            <li>
                                <a href="/tours">Tour Package</a>
                            </li>

                            <li>
                                <a href="/transfers">Transfers Service</a>
                            </li>

                            <li>
                                <a href="/about">About Us</a>
                            </li>

                            <li>
                                <a href="/contact-us">Contact Us</a>
                            </li>

                        </ul>


                    </div>

                </div> --}}

               

                
            </div>

        </div>
    </div>
</nav>



{{> _header-side-nav}}