<div class="container" style="margin-bottom: 50px">

    <form action="/reservation" method="post">


        {{!-- Room and Benefit --}}
        <div class="row">
            <div class="row center" style="padding-top: 20px">
                <div class="col s12 m12 l12">
                    <h5>HOTEL RESERVATION FORM – THE SWISSOTEL BANGKOK RATCHADA</h5>
                    <h5>42nd Seameo High Officials Meeting on 25th – 29th November 2019
                    </h5>
                    {{!-- <img class="img-responsive" src="images/Logo_THA2019.jpg" alt="Swissotel Bangkok Ratchada" style="max-width: 100%"> --}}
                </div>

            </div>
        </div>

        <input type="hidden" name="event" value="42nd Seameo High Officials Meeting" />

        {{> _booking-room-info }} {{!-- Extra Bed --}} {{> _booking-extrabed-info }} {{!-- Airport Transfers - --}}
        {{!-- {{> _booking-meeting-info }} --}}
        {{> _booking-airport-transfers}}
        {{!-- Meet and Greet at Airport - --}} {{!-- {{> _booking-meet-and-greet-info }} --}}
        {{!-- terms and condition --}}
        {{> _booking-terms-conditions }} {{!-- customer info --}} {{> _booking-customer-info }}


    </form>



</div>

{{> _maps_image }}