<div class="container" style="margin-bottom: 50px">

    <form action="/reservation" method="post">


        {{!-- Room and Benefit --}}
        <div class="row">
            <div class="row center" style="padding-top: 20px">
                <div class="col s12 m12 l12">
                    <h2>HOTEL RESERVATION FORM – SWISSOTEL BANGKOK RATCHADA</h2>
                    <h3>VIAVI RSU APAC on 23 – 25 October 2018</h3>
                </div>

            </div>
        </div>

        {{> _booking-room-info }} 
        
        {{!-- Extra Bed --}} 
        {{> _booking-extrabed-info }} 
        
        {{!-- Airport Transfers - --}}
        {{!-- {{> _booking-airport-transfers }} --}}

        {{!-- Meet and Greet at Airport - --}}
        
        {{!-- {{> _booking-meet-and-greet-info }} --}}

        {{!-- terms and condition --}}
        {{> _booking-terms-conditions }} 

        {{!-- customer info --}}
        {{> _booking-customer-info }}


    </form>

</div>